* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: hsl(195, 93%, 96%);
  --outline: hsl(220, 60%, 60%);
  --highlight: hsl(323, 100%, 60%);
}

.section {
  padding: 3rem 0;
}

a {
  text-decoration: none;
  color: hsl(0, 100%, 10%);
  transition: .2s all;
}

a:hover, a:active, a:focus {
  color: var(--highlight);
}

body {
  font-family: "Nunito", sans-serif;
  color: #272c33;
  overflow-x: hidden;
}

.portfolio {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  padding: 0 3rem;
}

.top {
  position: relative;
  left: -3rem;
  min-height: 4rem;
  background-color: #272c33;
  min-width: 100vw;
}

.title {
  font-size: 3rem;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.title:hover > span{
  color: var(--highlight);
}

.title__sub {
  font-weight: 600;
  text-align: center;
  font-size: 1.6rem;
  padding-bottom: .75rem;
}

.title__sub:hover > span{
  color: var(--highlight);
}

.portfolio__intro {
  font-weight: 300;
  font-size: 1.5rem;
}

.portfolio__intro > span:hover{
  color: var(--highlight);
}

.portfolio__title {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.connect__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
}

.connect__link {
  list-style: none;
  margin: 1rem 2rem;
  text-align: center;
  font-size: 1.75rem;
}

.connect__link:active,
.connect__link:hover,
.connect__link:focus {
  outline: 0.25rem solid var(--outline);
  outline-offset: 0.5rem;
}

.skill-set {
  display: flex;
  flex-direction: row-reverse;
  max-width: 80rem;
  min-height: 100vh;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.portfolio__tech-stack {
  max-width: 50rem;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.stack__icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  filter: saturate(0.3);
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}

.stack--focus {
  filter: saturate(1.2);
  transform: scale(1.2);
  font-weight: 600;
}

.stack__icon > p {
  list-style: none;
  text-align: center;
  pointer-events: none;
  transition: .2s all;
}

.stack__icon:hover > p {
  color: var(--highlight);
}

.icon {
  min-width: 3rem;
  max-width: 5rem;
  max-height: 5rem;
  margin: 1rem 2rem 3rem;
}

.portfolio__projects {
  margin: 0 auto;
}

.portfolio__projects-wrapper {
  position: relative;
  max-width: 20rem;
  height: 47rem;
}

.portfolio__projects-wrapper::before,
.portfolio__projects-wrapper::after {
  --size: 2rem;
  content: "";
  display: block;
  position: absolute;
  width: var(--size);
  height: 80%;
  top: 0;
  left: 0rem;
  z-index: 6;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round"><path d="M7 2 L2 5 L7 8" /></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: none;
}

.portfolio__projects-wrapper::after {
  left: auto;
  right: -0.2rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round"><path d="M2 2 L7 5 L2 8" /></svg>');
}

.portfolio__projects-frame {
  position: relative;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.portfolio__mobile {
  position: absolute;
  width: 20rem;
  top: 1.6rem;
  left: 0;
}

.portfolio__projects-frame:focus {
  outline: 0.25rem solid var(--outline);
  outline-offset: 0.5rem;
}

.portfolio__projects-frame::-webkit-scrollbar {
  display: none;
}

.project {
  position: relative;
  scroll-snap-align: center;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
}

.project__anchor {
  position: relative;
  top: -4rem;
}

.project__title {
  text-align: center;
}

.project__image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  padding-bottom: 3rem;
}

.project > p {
  text-align: justify;
  font-size: 1.3rem;
}

.project__links {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  justify-content: flex-end;
}

.project__link {
  list-style: none;
  margin: 0 1rem;
}

.link {
  font-weight: 700;
}

.link:active,
.link:hover,
.link:focus {
  outline: 0.25rem solid var(--outline);
  outline-offset: 0.25rem;
}

.project > a {
  position: absolute;
  top: 0;
  width: 3rem;
  height: 40rem;
  display: grid;
  place-items: center;
  font-size: 0;
  z-index: 9;
}

.project > a:last-of-type {
  top: 0;
  right: 0;
}

.carousel__nav ul {
  margin-top: -9.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  list-style: none;
}

.carousel__nav a {
  display: grid;
  place-items: center;
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem;
  background-color: #272c33;
  border-radius: 50%;
  text-shadow: 1px 1px 0 hsla(220, 20%, 20%, 0.5);
}

.carousel__nav a:hover, .carousel__nav a:active, .carousel__nav a:focus {
  background-color: var(--highlight);
}

.portfolio__feedback {
  margin-top: -2rem;
}

.feedback-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30rem;
  border: 0.1rem solid #272c33;
  border-radius: 0.3rem;
  margin: 2rem;
  padding: 1rem;
  background-color: hsl(195, 93%, 97%);
  box-shadow: 0.5rem 0.5rem #272c33;
}

.feedback:hover {
  background-color: hsl(195, 93%, 99%);
  box-shadow: 0.5rem 0.5rem hsl(323, 100%, 40%);
}

.feedback:hover > h3 {
  color: var(--highlight);
}

.feedback__title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.feedback__text {
  font-size: 1.25rem;
}

.form {
  display: block;
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.form__label,
.form__input {
  display: block;
}

.form__label {
  margin-bottom: 0.2rem;
  font-weight: 600;
  font-size: 1.4rem;
}

.form__label > span {
  color: var(--highlight);
}

.form__input {
  border-radius: 0.3rem;
  border: 0.125rem solid #272c33;
  padding: 1rem;
  margin: 0.7rem 0;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: 200;
  background-color: hsl(195, 93%, 99%);
  min-width: 100%;
  max-width: 100%;
}

.form__input:focus {
  outline: 0.25rem solid var(--outline);
  outline-offset: 0.5rem;
}

.form__input:hover {
  background-color: hsl(323, 100%, 98%);
}

.form__input:only-of-type {
  min-height: 10rem;
}

.form__error {
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  font-size: 1.25rem;
  min-height: 1.5rem;
  margin: 0.5rem 1rem 1rem;
  color: #a30000;
}
.form__submission {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__submit {
  border: none;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  border-radius: 0.3rem;
  transition: all 0.2s;
}
.form__submit:hover {
  color: #fcf8f9;
  background-color: #272c33;
}
.form__thanks {
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  font-size: 1.75rem;
  font-weight: 400;
  margin: 0 2rem 0.3rem 0;
  color: #186600;
  transition: all 0.3s;
}

.footer {
  position: relative;
  left: -3rem;
  min-height: 3rem;
  background-color: #272c33;
  min-width: 100vw;
  color: hsl(195, 93%, 96%);
  padding: 1rem 2rem;
  text-align: right;
}

.footer > a {
  color: hsl(195, 93%, 96%);
}

.footer > a:hover {
  color: var(--highlight);
}

/* Laptops and desktop monitors */
@media only screen and (min-width: 1120px) {
  .project__anchor {
    position: relative;
    top: -7rem;
  }
}